# Server Configuration
PORT=8080
APP_ENV=development
FRONTEND_ORIGIN=https://www.enlazer.com.ng

# PostgreSQL Database Connection URL
DATABASE_URL=postgres://postgres:postgrespassword@localhost:5432/nfc_db?sslmode=disable

# Resend API Key & Email Configuration
RESEND_API_KEY=your_resend_api_key_here
FROM_EMAIL=Bloom <onboarding@resend.dev>
