# Binaries
*.exe
*.exe shadow
*.dll
*.so
*.dylib
server
app
backend
bin/

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Local environment
.env
.env.local
